<head>
  <title>Songle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../static/js/homepage.js"></script> 
  <link rel="stylesheet" href="../static/css/homepage.css?v=1.0.0">
</head>


<body>

<form action="/search" id="searchForm" method="GET">

<div id="outer">
  <!-- <div id="searchName">
    <p>Hi</p>
  </div> -->
  <div id="searchbarDiv">
    <p id="logo">
      <span style='color: #4285F4'>S</span>
      <span style='color: #EA4335'>o</span>
      <span style='color: #FBBC05'>n</span>
      <span style='color: #4285F4'>g</span>
      <span style='color: #34A853'>l</span>
      <span style='color: #EA4335'>e</span>
    </p>
    <input type="text" id="searchbar" name="searchBar" placeholder="search..."/>
  </div>
</div>
</form>


</body>

